.Text-Style {
    font-family: Raleway;
    font-size: 60px;
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .Github {
    font-family: Monaco;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .NotFound {
    font-family: Raleway;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ac53f2;
  }
  .Search {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .Repos {
    font-family: Raleway;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ac53f2;
  }
  .UserName {
    font-family: Raleway;
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .Text-Style-2 {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  details {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--brownish-grey);
  }
  .Search-Input {
    width: 650px;
    height: 50px;
    background-color: var(--white);
  }
  .button {
    width: 100px;
    height: 50px;
    border-radius: 2px;
    background-color: #ac53f2;
  }

  .Home {
    width: 1152px;
    height: 700px;
    background-color: var(--white);
  }
  .Github-Search {
    width: 415px;
    height: 81px;
    font-family: Monaco;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .Github-SearchSearch{
    width: 415px;
    height: 81px;
    font-family: Raleway;
    font-size: 60px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    font-weight: 200;
    font-style: italic;
  }
  .user-name {
    width: 280px;
    height: 40px;
    font-family: Raleway;
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  .user-login {
    width: 280px;
    height: 25px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--brownish-grey);
  }

  .repo-name {
    width: 375.5px;
    height: 40.8px;
    font-family: Raleway;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ac53f2;
  }
  .user-avatar {
    width: 280px;
    height: 280px;
    border-radius: 2px;
    box-shadow: 0 0 4px NaNpx rgba(0, 0, 0, 0.4);
  }
  .repo-description {
    width: 600px;
    height: 25.5px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .star-count {
    width: 255.3px;
    height: 22.4px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--brownish-grey);
  }